<div class="container">
    <div class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a href="#" class="navbar-brand d-flex align-items-center me-0 me-xl-5">
                <img src="../assets/images/logo.png" alt="logo" class="logo img-fluid me-3">
                <span class="d-none d-xl-block yeseva fs-2 text-dark me-1">7TAO</span>
                <span class="d-none d-xl-block text-dark fs-6">活動訂票網</span>
            </a>

            <div class="input-group w-50 w-xl-25 ">
                <input type="search" class="form-control border-dark rounded-0" placeholder="探索活動" aria-label="Search" aria-describedby="Searchbox">
                <button class="material-symbols-outlined bg-dark text-lighty border-0" id="searchbox">search</button>
            </div>
            <button 
                class="navbar-toggler border-dark border-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupported" aria-controls="navbarSupported" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupported">
                <ul class="navbar-nav d-flex ">
                    <li class="nav-item yeseva d-flex">
                        
                        <a href="#" class="nav-link text-center text-dark d-flex fs-7">
                            <span class="material-symbols-outlined pe-1">
                                description
                            </span>
                            REGISTER
                        </a>
                    </li>
                    <li class="nav-item yeseva d-flex">
                        
                        <a href="#" class="nav-link text-dark d-flex fs-7">
                            <span class="material-symbols-outlined pe-1">
                                person
                            </span>
                            LOGIN
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>

    </div>
    
</div>