.banner{
  background-image: url(../assets/images/13.jpg);
  background-position: center center;
  background-size: cover;
  height: 518px;
}
.sparkler{
  height: 24px;
}
.cardbox{
  height: 280px;
}
.bottom140{
  bottom:-140px;
}
.onlinepic{
  width: 100%;
  height:317px;
}
.top300{
  top:-300px;
}
.notoSan{
  font-family: 'Noto Sans TC', sans-serif;
}
.textbar{
  letter-spacing: 0.15em ;
}
.w-33{
  width: 33%;
}
.rotate-4{
  transform: rotate(-4deg);
}
.rotate2{
  transform: rotate(2deg);
}
.rotate-2{
  transform: rotate(-2deg);
}
.cardtitle{
  top: -30px;
  left: 33%;
}

.album{
  height: 274px;
}
.fs-self{
  font-size: 1.5 rem ; 
}
.card-item{
  width: 306px;

}

@media (max-width: 576px) {
  .banner{
    height: 350px;
  }
  .fs-self{
    font-size: 1 rem ; 
  }
  .card-item{
    width: 291px;
  }
}